<div class="row text-center main-disclaimer">
    <p><strong>Disclaimer:</strong> This content is a community translation from an article found in the whitehouse.gov website.
        {{#if page.source}}
          {{#if page.source.url}}<a href="{{page.source.url}}">
              {{#if page.source.title}} {{page.source.title}} {{else}} Source. {{/if}}
          </a>
          {{else}}
            {{#if page.source.title}} {{page.source.title}} {{else}} Source. {{/if}}
          {{/if}}
      {{/if}}
    </p>
    {{#if page.filename}}
        <p>The markdown source for this file can be found
            <a href="https://github.com/proyectocasablanca/casablanca/blob/master/{{page.filename}}">here</a>
        </p>
    {{/if}}
</div>
