<footer class="container-fluid">
    <div class="col-sm-4">
        <p>This site doesn’t intent to endorse the administration, we only hope to make the content of whitehouse.gov available to the  spanish community, as much as we can. Along with some resources and news that will inform them about the current administration.</p>
    </div>
    <div class="col-sm-4">
        <p>
            <strong>
                <a href="/">Algunos derechos reservados</a>
            </strong>
        </p>
    </div>
    <div class="col-sm-4">
        <p><strong>
            <a href="/contributing">Cómo contribuir</a>
          </strong>
        </p>
        <p>
            <strong>
                <a href="https://github.com/blancahouse/casablanca">Contribuye en Github!</a>
            </strong>
        </p>
        <div class="social-media-links">
            <a class="twitter-link" href="https://twitter.com/proyectocb">
                <img src="/images/twitter.svg" alt="twitterlogo">
            </a>
            <a class="fb-link" href="https://www.facebook.com/Proyecto-Casa-Blanca-701500586690824/">
                <img src="/images/fb.svg" alt="facebook logo">
            </a>
        </div>
    </div>
</footer>

