<footer class="container-fluid">
    <div class="col-sm-4">
        <p>Traducción independiente de la paginas de la Casa Blanca para personas hispanoparlantes<p>
        <p>Independent Spanish translation of WhiteHouse pages</p>
    </div>
    <div class="col-sm-4">
        <p>
            <strong>
                <a href="/">Algunos derechos reservados</a>
            </strong>
        </p>
    </div>
    <div class="col-sm-4">
        <p><strong>
            <a href="/contributing">Cómo contribuir</a>
          </strong>
        </p>
        <p>
            <strong>
                <a href="https://github.com/blancahouse/casablanca">Contribuye en Github!</a>
            </strong>
        </p>
        <div class="social-media-links">
            <a class="twitter-link" href="https://twitter.com/proyectocb">
                <img src="/images/twitter.svg" alt="twitterlogo">
            </a>
            <a class="fb-link" href="https://www.facebook.com/Proyecto-Casa-Blanca-701500586690824/">
                <img src="/images/fb.svg" alt="facebook logo">
            </a>
        </div>
    </div>
</footer>
<script src="/scripts/jquery-3.1.1.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91008068-1', 'auto');
  ga('send', 'pageview');
</script>

