.navbar-brand>img {
    display: inline;
    height: 50px;
    margin-top: -10px;
}
main.container {
    img {
        max-width: 100%;
    }
}

footer {
    background: #f4f4f4 url(/images/hr.jpg) top repeat-x;
    padding: 2em 0;
    margin-top: 2em;
}


