.navbar-brand > img {
  display: inline;
  height: 50px;
  margin-top: -10px; }

main.container img {
  max-width: 100%; }

.panel-title a {
  cursor: pointer;
  display: block; }

footer {
  background: #f4f4f4 url(/images/hr.jpg) top repeat-x;
  padding: 2em 0;
  margin-top: 2em; }

.main-disclaimer {
  padding: 2em 0; }

.latests-translations li {
  padding: 10px 0; }

.content-btn {
  margin-top: 20px; }

.expand-collapse-anchor .hide-text {
  display: block; }

.expand-collapse-anchor .read-more {
  display: none; }

.enable-preview .content-container {
  height: 250px;
  overflow: hidden; }

.enable-preview .hide-text {
  display: none; }

.enable-preview .read-more {
  display: block; }
